body {
    background-color: #3F1969;
    font-family: Courier;
    color: white;
    text-align: center;
}

h1 {
    border-bottom: solid 1px white;
}

.toilet {
    border: 1px solid grey;
    border-radius: .5em;
    margin: .5em;
}

.footer {
    border-top: solid 1px grey;
}
.footer:before {
    font-family: Courier;
    white-space: pre;
    color: grey;
    content: "  | Created by Alicja & Katarzyna |    ";
}